/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-family: Ubuntu, "times new roman", times, roman, serif;
  font-size: 1em;
  line-height: 1.4;
}

.header,h2 {
  text-align: center;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
  Layout 
   ========================================================================== */
  .main_content {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: repeat(auto, 4fr);
    }

    h1 {
      font-weight: 400;
    }

    .metrolicsEmphasized {
      color: #1eafde;
      font-style: normal;
    }

  .page__intro {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
  text-align: center;  }

  .logoAndMenu {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  .page_header{
    grid-column: 2;
  }

   .metropolis_logo {
    margin-left: .7em;
    height: 1.5em;
    width: 1.5em;
   }

   .menu {
     color: white;
     grid-column: 3;
   }

   .menu_button {
     display: flex;
     justify-content: center;
     width: 60em;
   }


  .thingsWeDo {
    grid-column: 2;
    grid-row: 2;
  }

  .whatsUpsLately {
    grid-column: 2;
    grid-row: 3;
  }

   .page_header {
     display: flex;
     align-items: center;
     margin: 0;
   }

   .banner {
     position: relative;
     width: 100%;
   }

   .banner_image_full {
    background-color: rgb(238, 238, 238);
   }

   .menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 5em;
    width: 26em;
    right: 0;
  }

  .menu_button {
    display: grid;
    grid-template-rows: 70% 30%;
  }

  .menu_button_icons {
    grid-row: 1;
  }

   .menu_home1 {
     background-color: #25c389;
   }

   .menu_pages {
     background-color: #feb902;
   }

   .menu_blogs {
     background-color: #e7615e;
   }

   .things_we_do_content {
     color: #939393;
   }

   .menu_portfolio {
     background-color: #1fa8d4;
   }

   .menu_home2 {
     background-color: #16242f;
   }

   .things_we_do_content {
     color: #939393;
     grid-row: 3;
   }

   .things_we_do_topic {
     font-weight: bold;
     grid-row: 2;
   }

   .thingsWeDo_img {
     grid-row: 1;
   }

  .recent_tweet_header {
    font-weight: bold;
  }

  .sectionHeadingDesc {
    color: #939393;
    text-align: center;
  }

  /* things we do */
  .web_solutions img {
    width: 2em;
    height: 2em;
    border: solid 0.2em #feb902;
    padding: 1em;
  }

  .photography img {
    width: 2em;
    height: 2em;
    border: solid 0.2em #25c389;
    padding: 1em;
  }

  .web_development img {
    width: 2em;
    height: 2em;
    border: solid 0.2em #e7615e;
    padding: 1em;
  }

  .web_design img {
    width: 2em;
    height: 2em;
    border: solid 0.2em #1fa8d4;
    padding: 1em;
  }

  .things_we_do_header {
    font-weight: bold;
  }

  .things_we_do_content {
    color: #939393;
  }

  /* footer */

  .page_footer {
    background-color: #16242f;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
  }

  .footer_content {
    grid-column: 2;
  }


  .tweetContent{
    color: #ffff;
  }

  .tweets_tweet1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
  }

  .tweets_tweet1 {
    display: flex;
  }

  .twtUser_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
  }

  .tweets_tweet2 {
    display: flex;
  }

  .profile_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .author_content {
    color: white;
    font-style: italic;
  }

  .author_name,.recent_tweet_header {
    color: white;
  }

  .footer_aboutUs_socialMedia_googlePlus {
    background-color: #e46145;
    width: 4em;
    height: 4em;
    border: none;
  }
  
  .footer_aboutUs_socialMedia_twitter {
    background-color: #00b0e2;
    width: 4em;
    height: 4em;
    border: none;
  }
  
  .footer_aboutUs_socialMedia_instagram{
    background-color: #f6679c;
    width: 4em;
    height: 4em;
    border: none;
  }


  .footer_aboutUs_socialMedia_facebook {
    background-color: #527cc4;
    width: 4em;
    height: 4em;
    border: none;
  }


  .footer_aboutUs_socialMedia_generic{
    background-color: #fea501;
    width: 4em;
    height: 4em;
    border: none;
  }
  
  .footer_aboutUs_socialMedia_googlePlus > img {
    width: 1.5em;
    height: 1.5em;
  }

  .footer_aboutUs_socialMedia_generic > img {
    width: 1.5em;
    height: 1.5em;
  }

  .footer_aboutUs_socialMedia_facebook > img {
    width: 1.5em;
    height: 1.5em;
  }

  .footer_aboutUs_socialMedia_twitter > img {
    width: 1.5em;
    height: 1.5em;
  }

  .footer_aboutUs_socialMedia_instagram > img {
    width: 1.5em;
    height: 1.5em;
  }

  .socialMediaButton {
    width: 2.5em;
    height: 2.5em;
  }

  .footer_author {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: repeat(2, auto);
    column-gap: 3em;
  }
  
  .profile_img {
    grid-column: 1;
    grid-row: 1 / 3;
  }
  
  .author_name {
    grid-column: 2;
    grid-row: 1;
  }
  
  .author_content {
    grid-column: 2;
    grid-row: 2;
  }

  .page_footer {
    bottom: 0%;
  }

   /* Small only */
@media screen and (max-width: 39.9375em) {

  html {
    display: flex;
    justify-content: center;
  }

  .thingsOfAbove,
  .thingsOfAbove_tabs {
    display: none;
  }

  .footer_aboutUs,
  .footer_flickerPhotos,
  .footer_newsletter,
  .form-email{
    display: none;
  }

 .recent_tweet_header {
   font-weight: bold;
 }
 
 .menu {
  display: none;
}

.banner_image {
  display: none;
}

.hamburger_menu {
  position: absolute;
  right: 0%;
  width: 40px;
  height: 40px;
}

.lastestprojects_section > img {
  margin-bottom: 1em;
}

.page_header{
    display: flex;
    align-items: center;
}

.hamburger_menu {
    position: absolute;
    right: 20%;
    width: 40px;
    height: 40px;
  }

  .thingsOfAbove,
  .thingsOfAbove_tabs {
    display: none;
  }

  .footer_aboutUs,
  .footer_flickerPhotos,
  .footer_newsletter,
  .form-email{
    display: none;
  }

  .menu,.banner{
    display: none;
  }

  .banner_image {
    display: none;
  }

  .thingsWeDo_groups {
    height: 10em;
    gap: 1em;
    display: grid;
    grid-template-columns: 20% 80%; 
    grid-template-rows: 1em auto;
  }
    
    .thingsWeDo_img {
      grid-column: 1;
      grid-row: 1 / 2;
    }
    .things_we_do_header {
      grid-column: 2;
      grid-row: 1;
      margin: 0%;
    }

    .things_we_do_content {
      grid-column: 2;
      grid-row: 2;
      margin: 0%;
      
    }

    .images_post{
      gap: 1em;
    }

    .image_post_sample {
      display: grid;
      position: relative;
    }
  
    .date_group {
      display: grid;
      grid-template-rows: 60% 40%;
      background-color: #e7615e;
      color: white;
      height: 3em;
      width: 4em;
      position: absolute;
      padding-top: 0.3em;
      text-align: center;
    }
  
    .date {
      grid-row: 1;
    }

    .day {
      grid-row: 2;
    }

    .monthAndYear {
      font-size: 0.8em;
    }

  
    .photoDesc {
      display: flex;
      grid-template-columns: 75% 25%;
      grid-template-rows: repeat(2, 1fr);
      background-color: #1fa8d4;
      color: white;
      position: relative;
      padding: 0.5em;
      padding-left: 1em;
      bottom: 0;
      height: 3em;
      }
    }

  .image_post_sample {
    margin-bottom: 1em;
  }

  .fa-camera,.fa-file{
    padding: 1em;
    width: 1em;
    height: 1em;
    margin-inline-start: 8em;
    background-color: #3295c0;
  }
  
  .sample_image_text_post{
    grid-column: 1;
    grid-row: 1;
    font-weight: bold;
    display: flex;
  }


  /* Latest projects */

  .small_photography {
    position: absolute;
    margin-top: 2em;
    font-size: 0.8em;
  }

  .g7 {
    display: none;
  }
  
  .lastestProjects_group {
    display: grid;
    grid-row: repeat(6, 1fr);
  }

  .tweets_tweet2 {
    display: flex;
  }

  .tweets_tweet1 {
    display: flex;
  }

  .tweetContent {
    margin-left: 0.5em;
    margin-top: 2em;
    font-size: 0.7em;
  }

  .things_we_do_content {
    font-size: 0.8em;

  }

  .sectionHeadingDesc {
    margin:0%;
    font-size: 0.8em;
    margin-bottom: 2em;
  }

  h2 {
    margin: 0%;
    font-weight: lighter;
    font-size: 2em;
  }

  .author_content{
    display: grid;
    font-size: 0.7em;
  }

  .footer_content{
    padding-top: 2em; 

  }

  .profile_img {
    height: 8em;
    width: 8em;
  }

  .recent_tweet_header {
    margin-bottom: 1em;
  }

  .footer_aboutUs_socialMedia {
    padding-bottom: 5em;
    padding-top: 5em;
  }


  .footer_aboutUs_socialMedia > button {
    width: 4em;
    height: 4em;
  }

  .footer_author {
    column-gap: 5em;
  }


/* Medium and up */
@media screen and (min-width: 40em) {
  
}


/*Medium only */
@media screen and (min-width: 40em) and 
(max-width: 63.9375em) {

  .menu {
    display: flex;
    position: relative;
  }

  .menu > div {
    height: 100%;
  }

  .menu_button_icons {
    width: 2em;
    align-self: center;
  }

  .menu_button.menu_portfolio > img {
    width: 2em;
    padding-left: 1em;
  }

  .left_arrow,.right_arrow {
    position: absolute;
    top: 45%;
    border-style: hidden;
    background-color: transparent;
    color: white;
    border: 0.2em solid;
    border-radius: 50%;
  }
  
  .left_arrow {
   right: 75%;
  }
  
  .right_arrow {
    left: 75%;
   }

  .banner_image_full {
    width: 100%;
    height: 15em;
    display: flex;
    justify-content: center;
    z-index: 0;
  }
  
  .banner_image {
    display: grid;
    object-fit: cover;
    height: 100%;
  }

  .hamburger_menu {
    display: none;
  }

  .banner {
    display: visible;
  }

  .banner_image_menu {
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;
    left: 5%;
    top: 15%;
    width: 50%;
  }

  .banner_text_metro,.banner_text_retina,.banner_text_respon{
    padding-left: 1em;
    margin: 0.2em;
    padding: 0.5em;
    width: max-content;
    list-style-position:inside;
    font-weight: 500;
  }

  .banner_text_metro {
    border-left: 0.5em solid #186aa2;
    max-width: max-content;
    background-color: white;
  }

  .banner_text_retina {
    border-left: 0.5em solid #df6260;
    max-width: max-content;
    background-color: white;
  }

  .banner_text_respon {
    border-left: 0.5em solid #fcbb00;
    max-width: max-content;
    background-color: white;
  }

  .images_post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .things_we_do_banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3em;
    text-align: center;
  }

  .thingsWeDo_groups {
    height: 20em;
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
    

  .thingsWeDo_groups .web_solutions {
    grid-column: 1;
    grid-row: 1;
  }

  .thingsWeDo_groups .photography {
    grid-column: 2;
    grid-row: 1;
  }

  .thingsWeDo_groups .web_development {
    grid-column: 1;
    grid-row: 2;
  }

  .thingsWeDo_groups .web_design {
    grid-column: 2;
    grid-row: 2;
  }

  .thingsWeDo_img {
    grid-column: 2;
    grid-row: 1;
  }

  .things_we_do_header {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .things_we_do_content {
    grid-column: 1 / 4;
    grid-row: 3;
  }
  
  .images_post {
    gap: 1em;
  }

  .image_post_sample {
    color: white;
    position: relative;
  }

  .date_group {
    background-color: #e46145;
    width: 20%;
    position: absolute;
  }

  .date_group {
    display: grid;
    grid-template-rows: 60% 40%;
    background-color: #e7615e;
    color: white;
    height: 3em;
    width: 4em;
    position: absolute;
    padding-top: 0.2em;
  }

  .day {
    text-align: center;
  }

  .monthAndYear {
    font-size: 0.7em;
    margin-left: 0.5em;
  }

  .photoDesc {
    background-color: #00b0e2;
    height: 3em;
    position: relative;
  }

  .fa-camera, .fa-file{
      position: absolute;
      margin-top: 0.3em;
      width: 1em;
      height: 1em;
      padding: 0.7em;
      margin-inline-start: 18em;
  }

  .sample_image_text_post{
    grid-column: 1;
    grid-row: 1;
    font-size: 0.7em;
    margin: 0%;
    display: flex;
    height: 0%;
    font-size: 0.8em;
    padding-left: 0.7em;
    font-size: 1em;
  }

  .small_photography {
    padding-left: 1em;
    margin: 0%;
    padding-top: 1.5em;
  }

  .whatsUpLately .g2 {
    z-index: -1;
  }

  .g2 .photoDesc {
    background-color: transparent;
  }

  .g2 .date_group{
    display: none;
  }



  .color_overlay_g1 {
    background-color: rgb(31, 195, 236,75%);
    height: 95.5%;
  }

  .lastestprojects .g1 {
    z-index: -1;
    position: relative;
  }
  
.lastestprojects .g1 .photoDesc {
    z-index: 1;
    position: absolute;
    height: 6em;
    top: 84%;
    margin-left: 0.5em;
    background-color: transparent;
}
  
.whatsUpLately .g2 .photoDesc {
  z-index: 1;
  position: absolute;
  height: 6em;
  top: 84%;
  margin-left: 0.5em;
}

 .whatsUpLately_img {
  z-index: -1;
  position: relative;
}
  .color_overlay_g2 {
  background-color: rgb(31, 195, 236);
  height: 82.5%;
  }

  .whatsUpLately .g1 .photoDesc {
    display: none;
  }

  .according_tabs_section_img {
    display: flex;
    justify-content: center;
  }

  .lastestProjects_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
  }

  .img1{
    grid-column: 1;
    grid-row: 1;
  }

  .img2{
    grid-column: 1;
    grid-row: 2;
  }

  .img3{
    grid-column: 1;
    grid-row: 3;
  }

  .img4{
    grid-column: 2;
    grid-row: 1;
  }

  .img5{
    grid-column: 2;
    grid-row: 2;
  }

  .img6{
    grid-column: 2;
    grid-row: 3;
  }

  .g7 {
    display: none;
  }

  .lastestprojects .g2 .photoDesc {
    display: none;
  }

  .lastestprojects .g3 .photoDesc {
    display: none;
  }
  .lastestprojects .g4 .photoDesc {
    display: none;
  }
  .lastestprojects .g5 .photoDesc {
    display: none;
  }
  .lastestprojects .g6 .photoDesc {
    display: none;
  }
  /* FOOTER */

  .footer_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30% 40% 30%;
    color: white;
    padding-top: 3em;
    column-gap: 1em;
    row-gap: 2em;
  }

  .footer_author {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .footer_aboutUs {
    grid-column: 1;
    grid-row: 2;
  }
  
  .footer_aboutUs_header,
  .recent_tweet_header,
  .footer_newsletter_header {
    margin-bottom: 3em;
  }

  .footer_flickerPhoto {
    width: 80%;
    height: auto;
  }

  .footer_flickerPhotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3em repeat(2, 1fr);
    row-gap: 1em;
  }

  .flickr_photos_header {
    grid-column: 1;
    grid-row: 1;
    height: 1em;
  }

  .flickerPhoto1 {
    grid-column: 1;
    grid-row:  2;
  }
  .flickerPhoto2 {
    grid-column: 2;
    grid-row:  2;
  }
  .flickerPhoto3 {
    grid-column: 3;
    grid-row: 2;
  }
  .flickerPhoto4 {
    grid-column: 1;
    grid-row: 3;
  }
  .flickerPhoto5 {
    grid-column: 2;
    grid-row: 3;
  }
  .flickerPhoto6 {
    grid-column: 3;
    grid-row: 3;
  }

}


/* Large and up */
@media screen and (min-width: 64em) {

  .menu {
    display: flex;
    position: absolute;
    width: 45em;
    height: 6em;
  }

  .sectionHeadingDesc {
    margin-bottom: 3em;
  }
  
  .menu_button.menu_portfolio > img {
    width: 2em;
    padding-left: 1em;
  }
  .menu_button_icons {
    width: 2em;
    align-self: center;
  }

  .hamburger_menu {
    display: none;
  }
    
  .banner {
    display: grid;
  }

  .banner > button {
    height: 3em;
    width: 3em;
  }

  .banner_image {
    display: grid;
  }

  .banner_image_full {
    width: 100%;
    height: 25em;
    display: flex;
    justify-content: center;
    z-index: 0;
  }
  

  .banner_image_menu {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    align-items: flex-start;
    z-index: 1;
    left: 11.5%;
    top: 34%;
  }

  .banner_text_metro,.banner_text_retina,.banner_text_respon{
    padding-left: 1em;
    margin: 0.2em;
    padding: 0.5em;
    width: max-content;
    list-style-position:inside;
    font-weight: 500;
  }

  .banner_text_metro {
    border-left: 0.5em solid #186aa2;
    max-width: max-content;
    background-color: white;
  }

  .banner_text_retina {
    border-left: 0.5em solid #df6260;
    max-width: max-content;
    background-color: white;
  }

  .banner_text_respon {
    border-left: 0.5em solid #fcbb00;
    max-width: max-content;
    background-color: white;
  }
  
  .things_we_do_banner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
    text-align: center;
  }

  .thingsWeDo_groups {
    height: 20em;
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  


  .thingsWeDo_groups .web_solutions {
    grid-column: 1;
  }

  .thingsWeDo_groups .photography {
    grid-column: 2;
  }

  .thingsWeDo_groups .web_development {
    grid-column: 3;
  }

  .thingsWeDo_groups .web_design {
    grid-column: 4;
  }

  .thingsWeDo_img {
    grid-column: 2;
    grid-row: 1;
  }

  .things_we_do_header {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .things_we_do_content {
    grid-column: 1 / 4;
    grid-row: 3;

  }
  
  .lastestProjects_group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5em;
  }

  .lastestProjects {
    width: 100%;
    height: 100%;
  }

  .lastestProjects .img1 {
    grid-column: 1;
    grid-row: 1;
  }
  .lastestProjects .img2 {
  grid-column: 2;
  grid-row: 1;  
  }

  .lastestProjects .img3 {
  grid-column: 3;
  grid-row: 1;  
  }

  .lastestProjects .img4 {
  grid-column: 1;
  grid-row: 2;  
  }

  .lastestProjects .img5 {
  grid-column: 2;
  grid-row: 2;  
  }

  .lastestProjects .img6 {
  grid-column: 3;
  grid-row: 2;  
  }

  .images_post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
  }

  .image_post_sample .post_sample1 {
    grid-column: 1;
  }

  .image_post_sample .post_sample2 {
    grid-column: 2;
  }

  .image_post_sample .post_sample3 {
    grid-column: 3;
  }

  .image_post_sample {
    display: grid;
  }

  .image_post_sample {
    position: relative;
  }

  .date_group {
    display: grid;
    grid-template-rows: 60% 40%;
    background-color: #e7615e;
    color: white;
    height: 3em;
    width: 4em;
    position: absolute;
    padding-top: 0.2em;
  }

  .g1 {
    display: none;
  }

  .color_overlay_g1 {
    display: none;
  }

  .date {
    grid-row: 1;
    text-align: center;
  }

  .day {
    grid-row: 2;
  }

  .monthAndYear {
    font-size: 0.7em;
  }

  .whatsUpLately .photoDesc {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(2, 1fr);
    background-color: #1fa8d4;
    color: white;
    bottom: 0;
    height: 2em;
    padding: 0.5em;
  }

  .fa-camera,.fa-file {
    position: absolute;
    margin-top: 0.3em;
    width: 1em;
    height: 1em;
    padding: 0.7em;
    margin-inline-start: 13.5em;
  }

.sample_image_text_post{
  grid-column: 1;
  grid-row: 1;
  font-size: 0.7em;
  margin: 0%;
  padding: 0%;
  display: flex;
  height: 0%;
  font-size: 0.8em;
}

.small_photography {
  grid-column: 1;
  grid-row: 2;
  margin-top: 0%;
  font-size: 0.5em;
}

.fa-file {
  color: white;
}

.whatsUpLately_img {
  width: 100%;
  height: 100%;
}

.whatsUpLately {
  margin-top: 10em;
}

/* the struggle is real  */

.lastestprojects .photoDesc {
  z-index: 2;
  position: absolute;
  height: 6em;
  top: 80%;
  margin-left: 0.5em;
}

.lastestprojects .sample_image_text_post,.small_photography {
  color: white;
}

.lastestprojects .sample_image_text_post {
  font-size: 1em;
}

.lastestprojects .small_photography {
  top: 20%;
  font-size: 0.7em;
}

.lastestprojects .g2 {
  z-index: -2;
}

.color_overlay_g2 {
  background-color: rgb(31, 195, 236,75%);
  height: 93.5%;
}


.partners_section {
  display: flex;
  width: 100%;
}

.sponsor_image {
  width: 100%;
}

.lastestprojects .g3 .photoDesc {
  display: none;
}
.lastestprojects .g4 .photoDesc {
  display: none;
}
.lastestprojects .g5 .photoDesc {
  display: none;
}
.lastestprojects .g6 .photoDesc {
  display: none;
}
.lastestprojects .g7 .photoDesc {
  display: none;
}
/* FOOTER */

.footer_content {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 75%; 
  /* when i remove this^^ the white space below the footer disappear */
  padding-top: 3em;
  row-gap: 5em;
  column-gap: 1em;
}

.footer_author {
  grid-column: 1 / 5;
  grid-row: 1;
}

.footer_aboutUs {
  grid-column: 1;
  grid-row: 2;
}

.footer_recentTweets {
  grid-column: 3;
  grid-row: 2;
}

.footer_flickerPhotos {
  grid-column: 2;
  grid-row: 2;
}

.footer_newsletter {
  grid-column: 4;
  grid-row: 2;
  width: fit-content;

}

.footer_aboutUs_socialMedia {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 0.1em;
}

.footer_aboutUs_socialMedia > button {
  width: 3em;
  height: 3em;
}

.footer_aboutUs_socialMedia_facebook {
  grid-column: 1;
}

.footer_aboutUs_socialMedia_googlePlus {
  grid-column: 2;
}

.footer_aboutUs_socialMedia_twitter {
  grid-column: 3;
}

.footer_aboutUs_socialMedia_instagram {
  grid-column: 4;
}

.footer_aboutUs_socialMedia_generic {
  grid-column: 5;
}



.left_arrow,.right_arrow {
  position: absolute;
  top: 45%;
  border-style: hidden;
  background-color: transparent;
  color: white;
  border: 0.2em solid;
  border-radius: 50%;
}

.left_arrow {
 right: 86%;
}

.right_arrow {
  left: 86%;
 }



.footer_newsletter_header, .footer_newsletterContent {
  color: white;
  display: flex;
}

.footer_aboutUs {
  color: white;
}

.form-email {
  display: flex;
  background-color: tomato;
  width: 14em;
  height: 2em;
}

.paperairplane {
  width: 2.5em;
  margin-left: 5em;
  height: 2em;
  background-color: #ffb901;
  border: none;
}

.paperairplane > img {
  width: 1em;
  height: 1em;
}

.email {
  font-size: 0.85em;
  display: flex;
  align-items: center;
  padding-left: 0.2em;
  color: white;

}

.flickr_photos_header {
  color: white;
  display: flex;
}

.flickerPhotos_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.footer_flickerPhotos > img {
  width: 4em;
  height: 4em;
  padding: 0.5em;
}

.footer_author {
  display: grid;
  grid-template-columns: 5% auto;
  grid-template-rows: repeat(2, auto);
}

.profile_img {
  grid-column: 1;
  grid-row: 1 / 3;
  width: 6em;
  height: 6em;
}

.author_name {
  grid-column: 2;
  grid-row: 1;
}

.author_content {
  grid-column: 2;
  grid-row: 2;
}

.according_tabs_section_img {
  display: flex;
  justify-content: center;
}


}


/* Large only */
@media screen and (min-width: 64em) and 
(max-width: 74.9375em) {




}


/* ==========================================================================
   Modules
   ========================================================================== */

/* ==========================================================================
   Theme
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


